@charset "UTF-8";
/* CSS Document */
/* Calculator Box */
.box {
	background-color: #e5e7ea;
	height: 300px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
}

/* Display */
.display {
	background-color: #bfc4ce;
	height: 40px;
	width: 220px;
	position: relative;
	top: 20px;
	left: 15px;
}
.display input {
	background-color: #bccd95;
	height: 30px;
	width: 210px;
	position: relative;
	top: 2px;
	left: 2px;
	color: black;
	font-size: 21px;
	text-align: right;
}

/* Calculator Buttons */
.keys {
	position: relative;
	top: 15px;
}